@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

nav.navbar1 {
    height: 80px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

ul.navList {
    list-style-type: none;
    margin-top: 20px;
    float: left;
}

li.navItem {
    display: inline-block;
    margin: 5px 10px;
}

a.ListItem:link {
    color: black;
    text-decoration: none;
    padding: 3px;
}

a.ListItem:hover {
    border-bottom: 2px solid black;
}

a.ListItem:visited {
    color: black;
}

.LOGO {
    width: 110px;
    height: 28px;
    float: left;
}

.customIcon {
    float: left;
    margin: 25px 300px 25px 30px;
    font-size: 25px;
}

.rightIcons {
    float: right;
    margin-right: 50px;
}

.rightIcons i {
    margin: 25px 20px;
}

.offers {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

header {
    width: 100%;
    height: 700px;
    background-image: url("assests/headerImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;    

}

header div.headerImage {
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: 30px;
}

div.headerImage button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

.aboutContact {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
}

.aboutContact .icon {
    position: relative;
    top: 0;
    left: 76%;
}

.aboutContactList {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.info {
    text-align: center;
    justify-content: center;
    display: block;
    padding: 50px 300px 50px 300px;
}

.container,.container2 {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin:20px;
  }
  
  .container img {
    width: 338px;
    height: 338px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  
  .container .btn {
    background-color:white;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
 .container:hover img {
    opacity: 0.9;
 }
 .container figure:hover img{
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
 }

 .card{
    display: flex;
 }
 .container2{
    text-align: center;
 }
 .container2:hover img {
    opacity: 0.9;
 }

 .container2 img {
    width: 338px;
    height: 338px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
.map{
    background-image: url("assests/Map.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.viewAll{
    background-color: white; 
    padding:7px 21px;
    margin-left: 46%;
    margin-bottom: 50px;
}
.store{
    position: relative; 
    top:100px;
    left:50px; 
    padding:15px 15px;
    height: 60%;
    width: 30%;
    background-color: white;
    color:black;
}
.containerFeatures {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-left: 20px;
}

.containerFeatures .containeritem{
font-size: 30px;
text-align: center;
/* margin: 10px; */
}

.containerFeatures .containeritem img{
    
    height:258px;
    width: 459px;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
  }
  
  .footer-container  div {
    background-color: rgba(255, 255, 255, 0.8);
    /* text-align: center; */
    padding: 20px 20px;
    margin: 0px 15px;
  }